{% extends "src/_layouts/base.njk" %}
{% block content %}
	<div class="o-container">
		<section class="c-pagesection">
			{% include "src/_components/banner.njk" %}
		</section>
		<section class="c-pagesection" style="margin-bottom: 42px;">
			<div class="o-separator l-bgcol__darkred"></div>
		</section>
		<section class="c-pagesection">
		{% for work in collections.works | limit(3) %}
		{% if loop.first %}<ul>{% endif %}
			<li>
				{% include "src/_components/workblock.njk" %}
			</li>
		{% if loop.last %}</ul>{% endif %}
		{% endfor %}
		</section>
	</div>	
{% endblock %}
