{% extends "src/_layouts/base.njk" %}
{% block content %}
	<div class="o-container">
		<section class="c-pagesection">
			{% include "src/_components/banner.njk" %}
		</section>
		<section class="c-pagesection" style="margin-bottom: 42px;">
			<div class="o-separator l-bgcol__darkred"></div>
		</section>
		<section class="c-pagesection">
		{% for work in collections.works | limit(3) %}
		{% if loop.first %}<ul>{% endif %}
			<li class="l-padding__xxl@small l-padding__xl@medium l-padding__xl@large">
				<article class="l-grid--3cols@large">
					<a class="c-work__link l-grid_item--2c@large" href="https://{{ work.data.redirect }}">
						{% include "src/_components/workinfos.njk" %}
					</a>
					{% set bannerimg = work.data.image %}
					{% if bannerimg %}
					<div class="l-gap__s@large">
						<a href="https://{{ work.data.redirect }}">
							{% myImage bannerimg, work.data.alt, [360, 420], [750, 450], [390, 250] %}
						</a>
					</div>
					{% endif %}
				</article>
			</li>
		{% if loop.last %}</ul>{% endif %}
		{% endfor %}
		</section>
	</div>	
{% endblock %}
