<header>
	{% include "src/_includes/logo.njk" %}
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/gallery">Gallery</a></li>
		<li><a href="/news">News</a></li>
		<li><a href="/contact">Contact</a></li>
	</ul>
</header>
