{% extends "src/_layouts/base.njk" %}


{% block content %}
	<div class="o-container">
		<section class="c-pagesection">
			{% include "src/_components/banner.njk" %}
		</section>
		<section class="c-pagesection" style="margin-bottom: 42px;">
			<div class="o-separator l-bgcol__darkred"></div>
		</section>
		<section class="c-pagesection">
			<h4 class="l-text__red c-title__xs">latest projects</h4>
			<div>
				{% for work in collections.works | limit(3) %}
				{% if loop.first %}<ul class="c-latest__list">{% endif %}
					<li class="c-latest__item c-latest__item{{ loop.index }}">
						<article class="c-latest__container">
							{% myImage work.data.image, work.data.alt,"(min-width: 750px) 450vw, (min-width: 1050px) 750vw, 300vw" %}
						</article>
					</li>
				{% if loop.last %}</ul>{% endif %}
				{% endfor %}
			</div>
		</section>
		<section class="c-pagesection">
			<div class="l-grid--3cols@medium">
				<div>
					<h4 class="l-text__red c-title__xs l-padding__m@small">My experience</h4>
				</div>
				{% for experience in experiences %}
				{% if loop.first %}<ul class="l-grid_item--2c@medium l-grid--2cols@large">{% endif %}
					<li class="l-padding__l@small l-padding__l@medium l-padding__l@large">
						<h2 class="l-text__lightgreen c-title__m l-padding__xs@small l-padding__xs@medium l-padding__xs@large">{{ experience.title }}</h2>
						<div class="l-padding__m@small l-padding__m@medium l-padding__m@large">
							<div class="o-separator l-bgcol__darkred"></div>
						</div>
						<p>{{ experience.desc }}</p>
					</li>
				{% if loop.last %}</ul>{% endif %}
				{% endfor %}
			</div>
		</section>
		<div class="l-padding__m@large">
			{% include "src/_components/big-contact.njk" %}
		</div>
	</div>
{% endblock %}
