{% extends "src/_layouts/base.njk" %}
{% block content %}
	<div class="o-container">
		<section class="c-pagesection">
			{% include "src/_components/banner.njk" %}
		</section>
		<section class="c-pagesection" style="margin-bottom: 42px;">
			<div class="o-separator l-bgcol__darkred"></div>
		</section>
		<section class="c-pagesection">
			<div style="display: flex; flex-direction: row; justify-content: space-between">
				<h4 class="l-text__red c-title__xs">discover my latest projects</h4>
				<h4 class="c-title__xs"><a class="o-link" href="/gallery">see all</a></h4>
			</div>
			<div>
				{% for work in collections.works | limit(3) %}
				{% if loop.first %}<ul class="c-latest__list ">{% endif %}
					<li class="c-latest__item c-latest__item{{ loop.index }} o-perspective" id="card-{{ loop.index }}">
						<div class="c-latest__container o-perspective__inner">
							{% myImage work.data.image, work.data.alt,"(min-width: 750px) 450vw, (min-width: 1050px) 750vw, 300vw" %}
						</div>
					</li>
				{% if loop.last %}</ul>{% endif %}
				{% endfor %}
				<div class="c-latest__buttons">
					<button class="c-latest__button c-button__prev"><div class="inner"></div></button>
					<button class="c-latest__button c-button__next"><div class="inner"></div></button>
				</div>
				{% for work in collections.works | limit(3) %}
				{% if loop.first %} <ul class="c-latestparaph__list l-grid--3cols@large	l-gap__m@large">{% endif %}
				<li class="c-latestparaph__item l-grid_item--2-3@large l-padding__l@large">
					<article class="c-latestparaph__container ">
						{% include "src/_components/workinfos.njk" %}
						<a class="c-button__contact c-mainnav__link" href="https://{{ work.data.redirect }}"><div class="c-button__contact__container"><p>Visit the website</p><div class="o-background__conic"></div></div></a>
					</article>
				</li>
				{% if loop.last %} </ul> {% endif %}
				{% endfor %}
			</div>
		</section>
		<section class="c-pagesection">
			<div class="l-grid--3cols@medium">
				<div>
					<h4 class="l-text__red c-title__xs l-padding__m@small">My experience</h4>
				</div>
				{% for experience in experiences %}
				{% if loop.first %}<ul class="l-grid_item--2c@medium l-grid--2cols@large">{% endif %}
					<li class="l-padding__l@small l-padding__l@medium l-padding__l@large">
						<h2 class="l-text__lightgreen c-title__m l-padding__xs@small l-padding__xs@medium l-padding__xs@large">{{ experience.title }}</h2>
						<div class="l-padding__m@small l-padding__m@medium l-padding__m@large">
							<div class="o-separator l-bgcol__darkred"></div>
						</div>
						<p>{{ experience.desc }}</p>
					</li>
				{% if loop.last %}</ul>{% endif %}
				{% endfor %}
			</div>
		</section>
		<div class="l-padding__m@large">
			{% include "src/_components/big-contact.njk" %}
		</div>
	</div>
	<script type="module" src="/assets/scripts/latest.js"></script>
{% endblock %}
