{% extends "src/_layouts/base.njk" %}
{% block content %}
	<div class="o-container">
		<section class="c-pagesection c-postbanner">
			<h4 class="c-title__xs l-text__lightgreen">{{ emoji }} · {{ page.date | date("MONTHDDYYYY")}}</h4>
			<h1 class="c-title__l l-text__red">{{ title }}</h1>
			{% myImage cover, alt, [700, 500], [750, 375], [1200, 360], recenter, alt %}
		</section>
		<section class="c-pagesection">
			<div class="l-grid--3cols@large">
				<div class="c-newcontent l-grid_item--2c@large">
					{{ content | safe }}
				</div>
				<div class="c-newpost__side l-grid--2cols@medium l-grid--0cols@large l-gap__m@small l-gap__m@medium l-gap__none@large">
					<div class="c-newpost__putaclick">
					{% if collections.news | length > 1 %}
						<h4 class="c-title__xs l-text__red">latest news</h4>
						{% for latest in collections.news | limit(3) %}
							{% if loop.first %}<ul class="l-padding__l@small l-padding__l@medium l-padding__l@large">{% endif %}
								{% if title != latest.data.title %}
								<li class="c-newpost__text l-padding__xs@small l-padding__xs@medium l-padding__xs@large">
									<a class="c-newpost__link" href="{{ latest.url }}"><p class="c-text__s">{{ latest.data.emoji }} · {{ latest.data.title }}</p></a>
									<p class="c-text__xs l-text__grey"><strong>{{ latest.date | date("DDMMYYYY") }}</strong></p>
								</li>
								{% endif %}
							{% if loop.last %}</ul>{% endif %}
						{% endfor %}
					{% endif %}
					</div>
					
					{% if mood %}
					<div class="c-newpost__mood">
						<h4 class="c-title__xs l-text__red">current mood</h4>
						<iframe class="c-newpost__frame" src="{{ mood }}" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
					</div>
					{% endif %}
			</div>
		</section>
		<div class="l-padding__m@large">
			<a class="c-button__contact c-button__contact__big c-mainnav__link" href="/news"><div class="c-button__contact__container"><p>Return to news</p><div class="o-background__conic"></div></div></a>
		</div>
	</div>

	<script src="/assets/scripts/prism.js"></script>
{% endblock %}
