{% extends "src/_layouts/base.njk" %}
{% block content %}
	<div class="o-container">
		<section class="c-pagesection">
		{% for new in collections.news %}
		{% if loop.first %}
			<ul class="c-news__list l-grid--3cols@large">
			<li><h4 class="c-title__l l-text__red">{{ introduction }}</h4></li>
		{% endif %}
			<li class="c-news__item l-grid_item--2-3@large">
				<a class="c-news__link" href="{{ new.url }}">
					<article class="c-news__container">
						<h4 class="c-title__xs l-text__lightgrey">{{ new.date | date("MONTHDDYYYY") }}</h4>
						<h2 class="c-title__s">{{ new.data.emoji }} · {{ new.data.title }}</h2>
					</article>
				</a>
			</li>
		{% if loop.last %}</ul>{% endif %}
		{% endfor %}
		</section>
	</div>
{% endblock %}
