<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="device-width, initial-scale=1.0">
		<title>{{ title or renderData.title or metadata.title | escape }} - Theodore van der Rest</title>
		<meta name="author" content="Théodore van der Rest">
		<meta name="owner" content="Théodore van der Rest">
		<meta name="category" content="website">
		<meta name="keywords" content="portfolio, HTML, CSS, JS, C#, dev, multimedia">
		<meta name="description" content="{{ webdesc or renderData.webdesc}}" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="canonical" href="https://www.theodorevdrest.com{{page.url}}">
		<meta name="robots" content="index, follow"/>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/css/prism.css">
		<link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="wrapper">
			{% include "src/_includes/header.njk" %}
			<main>
				{% block content %}	
				{% endblock %}
			</main>
			{% include "src/_includes/footer.njk" %}
		</div>
	</body>
</html>
