<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="device-width, initial-scale=1.0">
	<title>{{ title }} - Theodore's blog</title>
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.png">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Martel+Sans&display=swap" rel="stylesheet">
	</head>
	<body>
		{% include "src/_includes/header.njk" %}
		<main>
			{% block content %}	
			{% endblock %}
		</main>
		{% include "src/_includes/footer.njk" %}
	</body>
	<script type="module" src="/assets/scripts/latest.js"></script>
</html>
